<div class="page-content">

    <div class="table-actions">
        <button class="export-btn" (click)="downloadPdf()">
            📄 Download PDF
        </button>
    </div>

    <div class="table-scroll-wrapper">
        <table class="report-table" id="reportTable">

            <thead>

                <!-- TITLE -->
                <tr class="top-header">
                    <th colspan="19">
                        தேர்தலில் போட்டியிடும் நிர்வாகக்குழு உறுப்பினர்களின் வாக்குப்பதிவு விவரங்கள்
                    </th>
                </tr>

                <!-- DEPARTMENT -->
                <tr class="top-sub-header">
                    <th colspan="19">
                        துறை -- {{ form7Data?.department?.name }}
                    </th>
                </tr>

                <!-- HEADER -->
                <tr class="main-header">
                    <th rowspan="2">வ.எண்</th>
                    <th rowspan="2">மாவட்ட தேர்தல் அலுவலர் மாவட்டம்/மண்டலம்</th>
                    <th rowspan="2">மாவட்ட தேர்தல் அலுவலர் சரகம்</th>
                    <th rowspan="2">வாக்குப்பதிவு நடைபெறும்<br> சங்கங்களின் பெயர்</th>

                    <th colspan="4">தேர்ந்தெடுக்கப்பட வேண்டிய நிர்வாகக்குழு <br>இயக்குநர்களின் எண்ணிக்கை</th>

                    <th colspan="4">நிர்வாகக்குழு இயக்குநர் பதவிக்கு <br>போட்டியிடும் உறுப்பினர்களின் எண்ணிக்கை</th>

                    <th rowspan="2">வாக்குப்பதிவு நாள்</th>
                    <th rowspan="2">மொத்த வாக்காளர்களின் எண்ணிக்கை</th>
                    <th rowspan="2">பதிவான வாக்குகளின் எண்ணிக்கை</th>
                    <th rowspan="2">வாக்குப்பதிவு சதவிகிதம் (%)</th>
                    <th rowspan="2">பயன்படுத்தப்பட்ட வாக்குப்பெட்டிகளின்<br> எணிக்கை</th>
                    <th colspan="2">வாக்குப்பதிவின் போது நிறுத்தப்பட்ட சங்கங்களின் பெயர் மற்றும் காரணம்</th>
                </tr>

                <tr class="sub-header">
                    <th>ப.இ./ப.கு</th>
                    <th>பெண்கள்</th>
                    <th>பொது</th>
                    <th>மொத்தம்</th>

                    <th>ப.இ./ப.கு</th>
                    <th>பெண்கள்</th>
                    <th>பொது</th>
                    <th>மொத்தம்</th>

                    <th>சங்கத்தின் பெயர்</th>
                    <th>காரணம்</th>
                </tr>

                <!-- COLUMN NUMBER ROW -->
                <tr class="col-number-row">
                    <th class="col-number-cell">1</th>
                    <th class="col-number-cell">2</th>
                    <th class="col-number-cell">3</th>
                    <th class="col-number-cell">4</th>
                    <th class="col-number-cell" colspan="4">5</th>
                    <th class="col-number-cell" colspan="4">6</th>
                    <th class="col-number-cell">7</th>
                    <th class="col-number-cell">8</th>
                    <th class="col-number-cell">9</th>
                    <th class="col-number-cell">10</th>
                    <th class="col-number-cell">11</th>
                    <th class="col-number-cell" colspan="2">12</th>
                </tr>

            </thead>

            <tbody>

                <tr *ngFor="let s of societies; let i = index">

                    <td *ngIf="i === 0" [attr.rowspan]="societies.length">{{ i + 1 }}</td>
                    <td *ngIf="i === 0" [attr.rowspan]="societies.length">{{ form7Data?.district?.name }}</td>
                    <td *ngIf="i === 0" [attr.rowspan]="societies.length">{{ s.zone_name }}</td>
                    <td>{{ s.society_name }}</td>

                    <!-- Rural -->
                    <td>{{ getRuralValue(s,'sc_st') }}</td>
                    <td>{{ getRuralValue(s,'women') }}</td>
                    <td>{{ getRuralValue(s,'general') }}</td>
                    <td>
                        {{ getRuralValue(s,'sc_st') + getRuralValue(s,'women') + getRuralValue(s,'general') }}
                    </td>

                    <!-- Declared (eligible only) -->
                    <td>{{ getDeclaredValue(s,'sc_st') }}</td>
                    <td>{{ getDeclaredValue(s,'women') }}</td>
                    <td>{{ getDeclaredValue(s,'general') }}</td>
                    <td>{{ getDeclaredTotal(s) }}</td>

                    <!-- Other Data -->
                    <td>{{ s.submitted_data?.polling_date ? (s.submitted_data.polling_date | date:'dd-MM-yyyy') : '-' }}</td>
                    <td>{{ s.form3_total }}</td>
                    <td>{{ s.submitted_data?.casted_votes_count }}</td>
                    <td>{{ s.submitted_data?.voting_percentage }}</td>
                    <td>{{ s.submitted_data?.ballot_box_count }}</td>
                    <td>{{ resolveStopName(s) }}</td>
                    <td>{{ resolveStopReason(s) }}</td>

                </tr>
            </tbody>

        </table>
    </div>
</div>