<div class="page-content">
    <div class="table-actions">
        <button class="action-btn" (click)="downloadPdf()">
            📄 Download PDF
        </button>
    </div>

    <div class="table-scroll-wrapper">
        <table class="report-table" id="reportTable">

            <thead>

                <!-- TITLE -->
                <tr class="top-header">
                    <th colspan="15">
                        வேட்புமனு திரும்பப் பெறுதல் மற்றும் போட்டியிடும் வேட்பாளர் இறுதிப் பட்டியல் பற்றிய பெயர்
                        விவரங்கள்
                    </th>
                </tr>

                <!-- DEPARTMENT -->
                <tr class="top-sub-header">
                    <th colspan="15">
                        துறை -- {{ department_name }}
                    </th>
                </tr>

                <!-- GROUP HEADER -->
                <tr class="main-header">
                    <th rowspan="2" class="col-small">வ.எண்</th>
                    <th rowspan="2" class="col-medium">மாவட்ட தேர்தல் அலுவலர் மாவட்டம்/மண்டலம்</th>
                    <th rowspan="2" class="col-medium">மாவட்ட தேர்தல் அலுவலர் சரகம்</th>

                    <th colspan="4">
                        போட்டியிடும் வேட்பாளர் இறுதி பட்டியலின்படி தேர்தலில் போட்டியிடும் சங்கங்கள் மற்றும்
                        வேட்பாளர்கள் விபரம்
                    </th>

                    <th colspan="4">
                        போட்டியிடும் இறுதி வேட்பாளர்கள் எண்ணிக்கையும் மற்றும் நிர்வாகக் குழு உறுப்பினர்கள்
                        எண்ணிக்கையும் சமமாக இருந்து தேர்தலில் போட்டியின்றி தேர்ந்தெடுக்கப்பட்ட சங்கங்களின் விபரம்
                    </th>

                    <th colspan="4">
                        போட்டியிடும் இறுதி வேட்பாளர்கள் எண்ணிக்கையும் மற்றும் நிர்வாகக் குழு உறுப்பினர்கள்
                        எண்ணிக்கையை விட குறைவாக இருந்து தேர்தலில் நடத்த இயலாத சங்கங்கள் விபரம்
                    </th>
                </tr>

                <!-- SUB HEADER -->
                <tr class="sub-header">

                    <th>சங்கங்கள்</th>
                    <th>ப.இ./ப.கு</th>
                    <th>மகளிர்</th>
                    <th>பொது</th>

                    <th>சங்கங்கள்</th>
                    <th>ப.இ./ப.கு</th>
                    <th>மகளிர்</th>
                    <th>பொது</th>

                    <th>சங்கங்கள்</th>
                    <th>ப.இ./ப.கு</th>
                    <th>மகளிர்</th>
                    <th>பொது</th>

                </tr>

                <!-- COLUMN NUMBER ROW -->
                <tr class="col-number-row">
                    <th class="col-number-cell">1</th>
                    <th class="col-number-cell">2</th>
                    <th class="col-number-cell">3</th>
                    <th class="col-number-cell" colspan="4">4</th>
                    <th class="col-number-cell" colspan="4">5</th>
                    <th class="col-number-cell" colspan="4">6</th>
                </tr>

            </thead>

            <tbody>
                <tr *ngIf="tableRows.length === 0">
                    <td colspan="15" class="empty-table-message">
                        தயவுசெய்து முதலில் படிவம் 6-ஐ பூர்த்தி செய்யவும்.
                    </td>
                </tr>

                <tr *ngFor="let r of tableRows; let i = index">

                    <td *ngIf="r.rowSpan" [attr.rowspan]="r.rowSpan">1</td>

                    <td *ngIf="r.rowSpan" [attr.rowspan]="r.rowSpan">
                        {{ r.district_name }}
                    </td>

                    <td *ngIf="r.rowSpan" [attr.rowspan]="r.rowSpan">
                        {{ r.zone_name }}
                    </td>

                    <!-- Final candidate list (names) -->
                    <td class="text-left col-name">{{ r.society_name }}</td>
                    <td class="text-left col-namelist">{{ r.sc_names }}</td>
                    <td class="text-left col-namelist">{{ r.women_names }}</td>
                    <td class="text-left col-namelist">{{ r.general_names }}</td>
                    <!-- <td class="col-num">{{ r.total }}</td> -->

                    <!-- Unopposed (equal) -->
                    <td class="text-left col-name">{{ r.eq_society_name }}</td>
                    <td class="text-left col-namelist">{{ r.eq_sc_names }}</td>
                    <td class="text-left col-namelist">{{ r.eq_women_names }}</td>
                    <td class="text-left col-namelist">{{ r.eq_general_names }}</td>
                    <!-- <td class="col-num">{{ r.eq_total }}</td> -->

                    <!-- Unqualified (less / cannot conduct) -->
                    <td class="text-left col-name">{{ r.less_society_name }}</td>
                    <td class="text-left col-namelist">{{ r.less_sc_names }}</td>
                    <td class="text-left col-namelist">{{ r.less_women_names }}</td>
                    <td class="text-left col-namelist">{{ r.less_general_names }}</td>
                    <!-- <td class="col-num">{{ r.less_total }}</td> -->

                </tr>

            </tbody>

            
        </table>
    </div>
</div>