<div class="table-actions">
    <button class="export-btn" (click)="downloadPdf()">
        📄 Download PDF
    </button>
</div>

<div class="formt5b-container">
    <div class="table-scroll-wrapper">
        <table class="report-table" id="reportTable">

            <thead>

                <!-- Title -->
                <tr class="top-header">
                    <th colspan="24">
                        வேட்புமனு பரிசீலனை மற்றும் தகுதிபெற்ற வேட்புமனுக்கள் பட்டியல் பற்றிய விவரங்கள்
                    </th>
                </tr>

                <!-- Department -->
                <tr class="top-sub-header">
                    <th colspan="24">
                        துறை -- {{ department_name }}
                    </th>
                </tr>

                <!-- Group Header -->
                <tr class="group-header">
                    <th rowspan="3">வ. எண்</th>
                    <th rowspan="3">மாவட்ட தேர்தல் அலுவலர் மாவட்டம்/மண்டலம்</th>
                    <th rowspan="3">மாவட்ட தேர்தல் அலுவலர் சரகம்</th>

                    <th colspan="5">
                        வேட்புமனு தாக்கல் செய்யப்பட்ட சங்கங்கள் மற்றும் உறுப்பினர்களின் எண்ணிக்கை
                    </th>

                    <th colspan="5">
                        வேட்புமனு பரிசீலனையின் போது தள்ளுபடி செய்யப்பட்ட வேட்பு மனுக்களின் எண்ணிக்கை
                    </th>

                    <th colspan="5">
                        தகுதிபெற்ற வேட்பு மனுக்கள் பட்டியல்படி வேட்பு மனுக்களின் எண்ணிக்கை
                    </th>

                    <th colspan="6">
                        வேட்பு மனு தாக்கல் நிறுத்தப்பட்ட
                    </th>
                </tr>

                <!-- Mid Header -->
                <tr class="mid-header">

                    <th rowspan="2">சங்கங்கள்</th>
                    <th rowspan="2">ப.இ./ப.கு</th>
                    <th rowspan="2">மகளிர்</th>
                    <th rowspan="2">பொது</th>
                    <th rowspan="2">மொத்தம்</th>

                    <th rowspan="2">சங்கங்கள்</th>
                    <th rowspan="2">ப.இ./ப.கு</th>
                    <th rowspan="2">மகளிர்</th>
                    <th rowspan="2">பொது</th>
                    <th rowspan="2">மொத்தம்</th>

                    <th rowspan="2">சங்கங்கள்</th>
                    <th rowspan="2">ப.இ./ப.கு</th>
                    <th rowspan="2">மகளிர்</th>
                    <th rowspan="2">பொது</th>
                    <th rowspan="2">மொத்தம்</th>

                    <th colspan="5">சங்கங்கள்</th>
                    <th rowspan="2">காரணங்கள்</th>
                </tr>

                <!-- Sub Header -->
                <tr class="sub-header">
                    <th>சங்கங்கள்</th>
                    <th>ப.இ./ப.கு</th>
                    <th>மகளிர்</th>
                    <th>பொது</th>
                    <th>மொத்தம்</th>
                </tr>

                <!-- Column Number Row -->
                <tr class="col-number-row">
                    <th class="col-number-cell">1</th>
                    <th class="col-number-cell">2</th>
                    <th class="col-number-cell">3</th>
                    <th class="col-number-cell" colspan="5">4</th>
                    <th class="col-number-cell" colspan="5">5</th>
                    <th class="col-number-cell" colspan="5">6</th>
                    <th class="col-number-cell" colspan="5">7</th>
                    <th class="col-number-cell">8</th>
                </tr>

            </thead>

            <tbody>

                <tr *ngIf="tableRows.length === 0">
                    <td colspan="24" class="empty-table-message">
                        தயவுசெய்து முதலில் படிவம் 5b-ஐ பூர்த்தி செய்யவும்.
                    </td>
                </tr>

                <tr *ngFor="let row of tableRows; let i = index">

                    <td *ngIf="row.rowSpan" [attr.rowspan]="row.rowSpan">{{ i + 1 }}</td>
                    <td *ngIf="row.rowSpan" [attr.rowspan]="row.rowSpan">{{ row.district_name }}</td>
                    <td *ngIf="row.rowSpan" [attr.rowspan]="row.rowSpan">{{ row.zone_name }}</td>

                    <!-- Group 3: Filed societies & members -->
                    <td class="wrap-col text-left">{{ row.society_name }}</td>
                    <td>{{ row.dec_sc }}</td>
                    <td>{{ row.dec_women }}</td>
                    <td>{{ row.dec_general }}</td>
                    <td>{{ row.dec_total }}</td>

                    <!-- Group 4: Rejected during scrutiny -->
                    <td class="wrap-col text-left">{{ row.rejected_society_name }}</td>
                    <td>{{ row.rej_sc }}</td>
                    <td>{{ row.rej_women }}</td>
                    <td>{{ row.rej_general }}</td>
                    <td>{{ row.rej_total }}</td>

                    <!-- Group 5: Qualified nominations -->
                    <td class="wrap-col text-left">{{ row.qualified_society_name }}</td>
                    <td>{{ row.rem_sc }}</td>
                    <td>{{ row.rem_women }}</td>
                    <td>{{ row.rem_general }}</td>
                    <td>{{ row.rem_total }}</td>

                    <!-- Group 6/7: Election stopped -->
                    <td class="wrap-col text-left">{{ row.stopped_society_name }}</td>
                    <td>{{ row.stop_dec_sc }}</td>
                    <td>{{ row.stop_dec_women }}</td>
                    <td>{{ row.stop_dec_general }}</td>
                    <td>{{ row.stop_dec_total }}</td>
                    <td class="wrap-col text-left">{{ row.stop_reason_display }}</td>

                </tr>
            </tbody>

        </table>
    </div>
</div>
