<div class="page-content">

    <div class="table-actions">
        <a class="back-link" routerLink="/layout/totalforms">← Back</a>
        <button class="export-btn" (click)="downloadPdf()">📄 Download PDF</button>
    </div>

    <div class="table-scroll-wrapper">
        <table class="report-table" id="reportTable">

            <thead>

                <tr class="top-header">
                    <th colspan="13">
                        சங்கத்தின் நிர்வாகக்குழு உறுப்பினர் தேர்தல் முழுமையாக முடிவுற்று தேர்ந்தெடுக்கப்பட்ட
                        நிர்வாகக்குழு உறுப்பினர்களின் பெயர் பட்டியல்
                    </th>
                </tr>

                <tr class="top-sub-header">
                    <th colspan="13">
                        துறை -- {{ department_name }}
                    </th>
                </tr>

                <tr class="main-header">
                    <th rowspan="2">வ.எண்</th>
                    <th rowspan="2">மாவட்ட தேர்தல் அலுவலர் மாவட்டம்/மண்டலம்</th>
                    <th rowspan="2">மாவட்ட தேர்தல் அலுவலர் சரகம்</th>
                    <th rowspan="2">தேர்தல் அறிவிப்புப்படி தேர்தல் முடிவடைந்த சங்கத்தின் பெயர்</th>

                    <th colspan="6">
                        போட்டியிடும் வேட்பாளர்கள் எண்ணிக்கையானது தேர்ந்தெடுக்கப்பட வேண்டிய நிர்வாகக்குழு உறுப்பினர்
                        எண்ணிக்கைக்கு
                    </th>

                    <th colspan="3" rowspan="2">
                        வாக்குப்பதிவு மூலம் தேர்ந்தெடுக்கப்பட்ட நிர்வாகக்குழு உறுப்பினர்கள் பெயர் விபரம்
                    </th>
                </tr>

                <tr class="sub-header">
                    <th colspan="3">
                        சமமாக இருந்து போட்டியின்றி தேர்ந்தெடுக்கப்பட்ட நிர்வாகக்குழு உறுப்பினர்கள் பெயர் விபரம்
                    </th>
                    <th colspan="3">
                        குறைவாக இருந்து போட்டியின்றி தேர்ந்தெடுக்கப்பட்ட நிர்வாகக்குழு உறுப்பினர்கள் பெயர் விபரம் (50% மேல்)
                    </th>
                </tr>

                <tr class="col-number-row">
                    <th class="col-number-cell">1</th>
                    <th class="col-number-cell">2</th>
                    <th class="col-number-cell">3</th>
                    <th class="col-number-cell">4</th>
                    <th class="col-number-cell" colspan="3">5</th>
                    <th class="col-number-cell" colspan="3">6</th>
                    <th class="col-number-cell" colspan="3">7</th>
                </tr>

                <tr class="sub-header">
                    <th colspan="4"></th>
                    <th>ப.இ./ப.கு</th>
                    <th>பெண்கள்</th>
                    <th>பொது</th>
                    <th>ப.இ./ப.கு</th>
                    <th>பெண்கள்</th>
                    <th>பொது</th>
                    <th>ப.இ./ப.கு</th>
                    <th>பெண்கள்</th>
                    <th>பொது</th>
                </tr>

            </thead>

            <tbody>
                <tr *ngIf="rows.length === 0">
                    <td colspan="13" class="empty-table-message">தரவு இல்லை</td>
                </tr>

                <tr *ngFor="let r of rows; let i = index">
                    <td *ngIf="i === 0" [attr.rowspan]="rows.length">{{ i + 1 }}</td>
                    <td *ngIf="i === 0" [attr.rowspan]="rows.length">{{ district_name }}</td>
                    <td *ngIf="i === 0" [attr.rowspan]="rows.length">{{ zone_name }}</td>
                    <td class="text-left">{{ r.society_name }}</td>

                    <td>{{ r.unopposed?.sc ?? '-' }}</td>
                    <td>{{ r.unopposed?.women ?? '-' }}</td>
                    <td>{{ r.unopposed?.general ?? '-' }}</td>

                    <td>{{ r.aboveHalfQuorum?.sc ?? '-' }}</td>
                    <td>{{ r.aboveHalfQuorum?.women ?? '-' }}</td>
                    <td>{{ r.aboveHalfQuorum?.general ?? '-' }}</td>

                    <td>{{ r.winners?.sc ?? '-' }}</td>
                    <td>{{ r.winners?.women ?? '-' }}</td>
                    <td>{{ r.winners?.general ?? '-' }}</td>
                </tr>
            </tbody>

        </table>
    </div>

</div>
